/* ===== HEADER ===== */
.about-header {
  background: #777;
  padding: 60px 0;
  text-align: center;
}

.about-header h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

/* ===== ABOUT SECTION ===== */
.about-wrapper {
  padding: 50px 20px;
  max-width: 900px;
}

.about-title {
  font-family: "Rock Salt", cursive;
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
}

.about-row {
  margin-top: 20px;
}

.about-img {
  width: 260px;
  height: 260px;
  object-fit: cover;
}

.about-text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
  text-align: left;
}

/* ===== FOOTER ===== */
.about-footer {
  background: #4ec9f5;
  padding: 40px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-title {
  font-size: 35px;
  color: white;
  font-weight: bold;
}

.footer-icons img {
  width: 35px;
  height: 35px;
  margin-left: 25px;
  cursor: pointer;
}
